*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    display: flex;
    flex-direction: column;
}
.video-container{
    position: relative;
    height: 350vh;
    width: 100vw;
    z-index: 0;
    font-family: 'Source Sans 3', sans-serif;
}
video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 350vh;
    top:0;
    left:0;
    z-index: 1;
}
.inside-front{
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
nav{
    position: fixed; 
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 2.5em;
    align-items: center;
    transition: .8s ease-in-out;
}
.anim1{
    background: #000a63;
    transition: .8s ease-in-out;
}
nav li{
    width: 5em;
    text-align: center;
    position: relative;
}
nav li a{
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
}
nav li::before{
    transform: scaleX(0);
    transform-origin: bottom right;
}
nav li:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav li::before{
    content:"";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(85, 185, 147);
    z-index: -1;
    transition: transform .2s ease;
}
nav li button{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1em;
    border:none;
    background: rgb(250, 133, 153);
    width: 7em;
    height: 3em;
}

.date{
    height: 5em;
    /* background-color: brown; */
    position: absolute;
    display: flex;
    top:25em;
    left:5em;
    justify-content: space-evenly;
    flex-direction: column;
}
.date span{
    color:#095d60;
}
.date span:nth-child(1){
    letter-spacing: 0.5rem;
    font-size: 1.2em;
    font-weight: 800;
}
.date span:nth-child(2){
    letter-spacing: 0.5rem;
    font-size: 1em;
    font-weight: 700;
}
.socials{
    width: 7em;
    position: absolute;
    top: 30em;
    right: 2em;
    display: flex;
    /* background-color: burlywood; */
    justify-content: space-between;
}
.socials li a{
    font-size: larger;
    color:#095d60;
}
.socials li a:hover{
    color:black;
    transition: 0.7s;
}
.img1{
    font-family: 'Source Sans 3', sans-serif;
    position: absolute;
    width: 70vw;
    z-index:1;
    top:170vh;
    left: 15vw;
    display: flex;
    gap:10em;
}

.img1 img{
    width: 25vw;
}
.inside-img1{
    display: flex;
    flex-direction: column;
    gap:2em;
    align-items: flex-start;
    width: 25vw;
    justify-content: center;
}
.inside-img1 h1{
    font-size: 4em;
    color: white;
}
.inside-img1 span{
    font-size: 2em;
}
.inside-img1 button{
    background: rgb(250, 133, 153);
    border: none;
    border-radius: 25px;
    font-family: 'Source Sans 3', sans-serif;
    padding: 0.7em 2em 0.7em 2em;
    transition: 0.4s ease-in-out;
}
.inside-img1 button a{
     color: black;
    font-weight: 600;
    font-size: 1.4em;
}
.inside-img1 button:hover{
    color: rgb(250, 133, 153);
    background-color: white;
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.img2{
    font-family: 'Source Sans 3', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap:10em;
    width: 60vw;
    z-index: 1;
    top:250vh;
    right:15vw;
}
.img2 img{
    width: 25vw;
}
.inside-img2{
    display: flex;
    flex-direction: column;
    gap:5em;
    align-items: flex-end;
    justify-content: center;
}
.inside-img2 h1{
    font-size: 4em;
    color: white;
}
.inside-img2 button{
    background: rgb(250, 133, 153);
    border: none;
    border-radius: 25px;
    font-family: 'Source Sans 3', sans-serif;
    padding: 0.7em 2em 0.7em 2em;
    transition: 0.4s ease-in-out;
}
.inside-img2 button a{
     color: black;
    font-weight: 600;
    font-size: 1.4em;
}
.inside-img2 button:hover{
    color: rgb(250, 133, 153);
    background-color: white;
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}